html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
  }
  
  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}

div {
    background-color: rgba(245, 245, 245, 0.822);
    display: grid;
    justify-items: center;
}

figure {
    background-color: white;
}

figcaption {
    text-align: center;
}

li {
    margin: 10px;
}